@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Edit User Account";
}
<div class="text-center">
    <h1 class="display-4">Edit User Account</h1>
</div>
