@{
    ViewData["Title"] = "My Orders";
}



<h1 class="text-center">My Orders</h1>
<div class="row">
    <div class=text-center>
        <table class="w-100">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Product</th>
                    <th>Order Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {

                    <tr>
                        <td>@order.OrderId</td>
                        <td>@order.OrderDate.ToString("dd-MM-yyyy")</td>
                        <td>€@order.OrderTotal.ToString("N2")</td>
                        @if (order.OrderCancellation)
                        {
                            <td>Cancelled</td>
                        }
                        else
                        {

                            <td>Complete</td>

                        }
                        <td>
                            @if (order.OrderCancellation)
                            {
                                <a class="btn btn-danger" asp-action="CancelOrder" asp-route-id="@order.OrderId">Cancelled</a>
                            }
                            else
                            {
                                <a class="btn btn-primary" asp-action="CancelOrder" asp-route-id="@order.OrderId">Cancel
                                    Order</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
