@model IrishNFTs.MVC.Models.OrderViewModel

@{
    ViewData["Title"] = "Order confirmation";
}

<h1>You have completed your order</h1>
<div>
    <p>Your order id is @Model.OrderId</p>
    <p>Your order total is @Model.OrderTotal</p>
    <p></p>
    <p></p>


</div>