html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


#landing-page-header {

  color: #327A71;

}

.landing-page-text {

  color: #7A323B;
  font-size: 32px;
  font-weight: 300;

}

.landing-page-btn {

  color: #327A71;
  font-size: 22px;
  border: solid 1px #327A71;
  border-radius: 12px;

}

.landing-page-btn:hover {

  color: #ffffff;
  background-color: #327A71;
  border: solid 1px #327A71;

}



.navbar-nav .nav-link {
  color: #327A71 !important;
  padding: 8px 12px;
  border: solid 1px #fff;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
}

.navbar-nav .nav-link:hover {
  color: #fff !important;
  background-color: #327A71;
  border: 1px solid #327A71;
  border-radius: 5px;
}

.img-fluid {

  height: 300px;
  max-width: 300px;
  object-fit: cover;
}

.img-thumbnail {

  height: 100px;
  width: 100px;

}

.product-detail-price {
  display: inline-block;
  color: #f44336;
  font-size: 16px;
  font-weight: 500;
}

.product-detail-heading {

  font-size: 18px;
  color: #096A2E;
  font-weight: 700;

}

.product-order-price {
  display: inline-block;
  color: #f44336;
  font-size: 24px;
  font-weight: 600;
  padding: 12px 16px;
  text-align: center;
}


#nav-logo {
  margin-left: 50px;
  width: 100px;
  height: 60px;

}

.product-card {

  max-width: 300px;
  transition: transform 0.2s ease;
}

.product-card-title {

  color: #096A2E;

}

.product-card:hover {
  transform: scale(1.1);
  opacity: .9;
}

.product-card-btn {

  color: #096a2e;
  border: solid .5px #096a2e;
  border-radius: 12px;
  ;
}

.product-card-btn:hover {

  color: #ffffff;
  background-color: #096a2e;
  border: solid 1px #096a2e;


}

.card-buttons {

  transition: 0.3s all;
  transform: translateY(20px);
  opacity: 0;
  width: 250px;
  font-size: 18px;

}

.product-card:hover .card-buttons {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.3s all;
}

@media(max-width: 768px) {

  .card-buttons {

    transition: 0.3s all;
    transform: none;
    opacity: 1;

  }
}

#payment-info {

  width: 80%;
  margin: 0 auto;
}

#order-completion-window {

  width: 70%;

}


.body-logo {
  margin: 0 auto;
  max-width: 200px;
  max-height: 200px;

}

.logo-container {

  max-width: 50%;
  margin: 0 auto;

}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #198754;

}

.page-title {

  color: #ffffff;
  background-color: #327A71;
  max-width: 60%;
  margin: 0 auto;
  border-radius: 8px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 32px;

  @media(max-width: 767px) {

    max-width: 90%;
  }
}

.order-complete-text {

  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;

}

.landing-page-tile {

  height: 100px;
  width: 100px;

}